<div class="big__card__container">
  <div class="big__card__img">
    <img
      src="https://media.istockphoto.com/id/1221388014/pt/vetorial/pixel-art-design-with-outdoor-landscape-background.jpg?s=612x612&w=0&k=20&c=cFcX3OdTyrdVpj8QjzWl89GECcs53VaBgNIjpjPdHpI="
      alt=""
      height="200px"
      srcset=""
    />
  </div>

  <a href=""></a>
  <div class="big__card__title">
    <a href="#">{{cardTitle}}</a>
  </div>
  <div class="big__card__description">
    <p>
      {{cardDescription}}
    </p>
  </div>
</div>
