.big__card__container{
    /* border: 2px solid #b3b3b3; */ 
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 375px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big__card__img > img {
    width: 100%;
    min-width: 360px;
    border-radius: 5px;
    
}

.big__card__title > a {
    font-size: 1.8em;
    margin-top: 15px;
    text-decoration: none;
    text-shadow: -3px 0px 4px rgba(0, 0, 0, 0.884);
}

.big__card__title > a:hover{
    color: #c4c3bb;
    transition: 0.5s ease;
}

.big__card__description > p {
    color: #afae9d;
    margin-top: 10px;
    
}

