<!-- Navegação da Page -->
<header>
  <app-menu-bar></app-menu-bar>
</header>
<!-- Titulo da page -->
<app-menu-title></app-menu-title>

<!-- Conteudo do main -->
<div class="article__container">
  <div class="article__big">
    <app-big-card
      photoCover="https://media.istockphoto.com/id/1221388014/pt/vetorial/pixel-art-design-with-outdoor-landscape-background.jpg?s=612x612&w=0&k=20&c=cFcX3OdTyrdVpj8QjzWl89GECcs53VaBgNIjpjPdHpI="
      cardTitle="Update your game list now"
      cardDescription="Streamings announces new games that are starting to gain conversation on social media around the world."
    ></app-big-card>
    <app-big-card
      photoCover="https://64.media.tumblr.com/cae6936c132a3f247756d250b67f5abc/640a7c340144e049-0c/s1280x1920/1957612bc8ca78f4d474bdad2d02f47aaf7cb240.png"
      cardTitle="Which language would you choose"
      cardDescription="Nowadays there are many languages that make the beginner dev think before starting their journey."
    ></app-big-card>
  </div>
  <div class="article__small">
    <app-small-card
      photoSmallCover="https://i.pinimg.com/736x/e9/66/25/e966256f0c50675a0e19167bcc576642.jpg"
      cardSmallTitle="It's true that every Dev likes coffe?!"
    ></app-small-card>

    <app-small-card
      photoSmallCover="https://i.pinimg.com/736x/a2/93/0d/a2930da18af1b7367ef0a1ac805944e0.jpg"
      cardSmallTitle="What will we see in avengers secret war"
    ></app-small-card>

    <app-small-card
      photoSmallCover="https://i.pinimg.com/736x/f2/38/f6/f238f6ef6bfffc0065bbb9b6f57648f7.jpg"
      cardSmallTitle="Will it be the best game of 2025?"
    ></app-small-card>
  </div>
</div>
