<div class="menu__bar__container">

    <div class="logo__img">
        <img 
        src="assets/logo-marca.png"
        alt="logo">
    </div>
    <ul>
        <li><a href="https://www.linkedin.com/in/caio-costa94/" target="_blank">Linkedin</a></li>

        <li><span>•</span></li>

        <li><a href="https://github.com/Caio-01" target="_blank">GitHub</a></li>

        <li><span>•</span></li>

        <li><a href="https://www.instagram.com/_caiio.s" target="_blank">Intagram</a></li>
    </ul>
</div>
